
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	text-decoration: none;
	margin: 0;
	padding: 0;

/*Основной шрифт*/
	 

}


body {

  font-family: "OpenSans", sans-serif;
  font-weight: normal;
}


.container {
	max-width: 1308px;
  margin: 0 auto;	
 padding: 0 55px;
}



header .container{
background-color: #0f0f0f;

}


.header__title{	

position:relative;
	height: 350px;
	text-align: center;


}

/* display: flex;
  justify-content: center;
  align-items: center;    - второй способ выравнивания*/   



/* 3 способ  Если для блока задана ширина:
div {
  width: 300px;
  margin: 0 auto; /*центрируем элемент по горизонтали 
  в пределах родительского блока*/


h1 {
  font-size: 110px;
   font-family: Raleway, sans-serif;
    font-weight: 800;
  color: rgb( 255, 255, 255 );
  line-height: 0.818;

text-transform: uppercase;
}



.header__title h1{
position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%; 
  left: 50%;


}

.section__inner{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;


margin: 80px 14px 144px 14px;

}


	

.article{
	max-width: 820px; /*- сумма широт обоих дочерних div*/
display: -webkit-box;
display: -ms-flexbox;
display: flex;

margin-bottom: 60px;
height: 246px;

}

.article:hover .article__item{


 background-color: rgb( 241, 241, 241 );
}

.article:hover h2, .article:hover h2 mark{
 
font-weight: bold;

}

/*.article:hover h2 mark  - js при поиске, выделенное также станет bold*/


.article__item{
/*max-width: 550px;*/
/*  height: 246px;*/


font-size: 14px;

 padding-top: 27px;
 padding-left: 30px;
 padding-bottom: 37px;
 padding-right: 10px;
}

.article__item-without-media{
 padding-left: 0;

}

.article__item  a{

color:#da491c
}



.article__media{
	 position: relative;
   min-width: 270px;




background-color:  rgb( 51, 51, 51 );
}

  .img_art{

    height: 100%;
    width: 100%;
 
  }

.article__media__arrow-left{
 font-size: 32px;
color:white;
 position: absolute;

 top: 50%;
 -webkit-transform: translateY( -50%);
         transform: translateY( -50%);
  left: 18px;
text-shadow: 3px 3px 6px black;

pointer-events: none;
}
 /*можно сократить*/

  .article__media__arrow-right{
    font-size: 32px;
color:white;
 position: absolute;

 top: 50%;
 -webkit-transform: translateY( -50%);
         transform: translateY( -50%);
  right: 18px;

text-shadow: 3px 3px 6px black;

pointer-events: none;   /*  отключение кликабельности, 
чтобы <i> не мешал checkbox переключаться, 
(и менять content:url(image))*/
  } 
  /*можно сократить*/


/* при зажатии меняется картинка

.img_art-two{ 
  display: none;}


.article__media:active .img_art-one{
display: none;
}

.article__media:active .img_art-two{
display: block;
} 
*/

input[type="checkbox"] {
    content: url('https://as2.ftcdn.net/jpg/00/72/42/73/1000_F_72427399_nJHXAy80Hnl5TXfHLHOpaVBeiiCTT0o7.jpg');
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: block;
    width: 100%;
    height: 100%;
   disabled:disabled;
   
}
input[type="checkbox"]:checked {

    content: url('https://avatars.mds.yandex.net/i?id=be17b1d619cf3eef0d53b300c228e9be_l-5513755-images-thumbs&n=13');
}

/*<input type="checkbox" />
через checkbox переключение двух картинок
*/


  h2{
/* font-family: "OpenSans", sans-serif;*/
  font-size: 24px;
  
color: rgb( 51, 51, 51 );
  line-height: 1.5;
/*font-weight: bold;*/
  }



.article__item h2{
margin-bottom: 25px;

}

.article__item__about{

margin-bottom: 25px;

line-height: 1.25;

}

.article__item__about span {
margin-right: 14px;

white-space: nowrap; /*для aдапт.в, для нормального переноса пункта */

}

.article__item__about i{
	font-size: 12px;
	margin-right: 14px;
	color: rgb( 51, 51, 51 );

}

.article__item p{
color: rgb( 102, 102, 102 );
line-height: 2;

height: 105px;
overflow: auto;


}

iframe{
position: relative;
    height: 100%;
    width: 100%;
 }

.articles__pagination{

   display: inline-block;

 
}


.articles__pagination a{
color: white;
   
    float: left;
    width: 32px;
    height: 32px;


 text-align: center;
vertical-align:top;
    line-height:32px;

/*    выравнивание на центру с помощью  line-height*/

    background-color:#333333;

    text-decoration: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    margin-right: 2px;

}

  .articles__pagination a.active {
    background-color: #da491c;
    

    border: 1px solid #white;
  }

  .articles__pagination a:hover:not(.active) {background-color: #ddd;}


/*Aside*/

.aside{
	width: 275px;
color: rgb( 51, 51, 51 );

}	
.aside__search{
margin-bottom: 53px;


position: relative; /* для #cSearch*/
}

.aside__search p{
  line-height: 2.571;

}

.aside__search__field{
font-size: 14px;
  height: 42px;
  width: 100%;
   border: 1px solid rgb( 153, 153, 153 );
   padding-left: 10px;
}


#cSearch{
bottom: -30px;
position: absolute;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
color: rgb( 102, 102, 102 );
}


h2 mark{

 background-color: #da491c; ;

}   /*js при поиске выделяет найденное совпадение*/

  .aside__categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

height: 42px;

line-height: 42px;

margin-bottom: 11px;
  }


.aside__categories__item{ 
width: 100%;
height: 100%;

color: #fff;
border: 1px solid #fff;
background-color: #333333;

text-align: center;
font-weight: 500;

  }

  .aside__categories__item:hover{
background-color: #da491c;


  }

  .aside__c__i1{
-ms-flex-negative: 4 ;
    flex-shrink: 4 ;
}
.aside__c__i2{
 -ms-flex-negative: 3;
     flex-shrink: 3;
}




.aside__list ul{

list-style-type:none;
margin-bottom: 46px;
}

.aside__list li{
  padding-left: 4px;
line-height: 42px;
height: 42px;
border-bottom: 1px solid #333;
}


.aside__list a{
display: inline-block;  /*чтобы выделялись ссылки*/
color: #333;
}

.aside__list li:last-child{
border:none;

}


.aside__list li:hover {
background-color: #333;
padding-left: 21px;

}


.aside__list li:hover a{

color: rgb( 255, 255, 255 );


}




.aside-img{

float: left;

 background-color: rgb( 51, 51, 51 );
width: 72px;
  height: 72px;

  margin-right: 14px;
 
}

.aside__cat-cont__item{
margin-bottom: 30px;

}


.aside__cat-cont__item:last-child{

margin-bottom: 50px;

}



.aside__cat-cont__item::after {
  content: "";
  clear: both;
  display: table;  /*после item отменяет обтекание*/
}

.aside-img img{
width: 100%;
height: 100%;
}

.aside__cat-cont__item p{
  font-size: 14px;

/*word-break: break-all;  перенос слов*/

/*text-overflow: ellipsis;  
white-space: nowrap;
overflow: hidden;

троеточие для одной стоки*/

 display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;  /* троеточие для двух строк (4 св-ва)*/

margin-bottom: 16px;

}



.aside__cat-cont__item a{

font-size: 10px;
color: rgb( 204, 204, 204 );
background-color: rgb( 51, 51, 51 );

display: inline-block;

margin: auto;

width: 68px;
height: 19px;
text-align: center;
padding-top: 0.4em;
/*vertical-align: middle;*/
border-radius: 3px;
}



caption{

background-color: #333;
color: #fff;


padding-top: 15px;
padding-bottom: 15px;

position: relative;
}


.before-month{
  font-size: 24px;
top: 50% ;
-webkit-transform: translateY( -60%);
        transform: translateY( -60%); 

left: 0;
margin-left: 18px;
position: absolute;
}


.after-month{
font-size: 24px;
top: 50% ;
-webkit-transform: translateY( -60%);
        transform: translateY( -60%); 

right: 0;
margin-right: 18px;
/*right: 18px; - ? для адаптации*/
position: absolute;

}

/*caption::before, caption::after{ 
color: white;  

position: absolute;

top: 50% ;
transform: translateY( -60%);   Т.К. НА ПСЕВДОЭЛЕМЕНТЫ НЕЛЬЗЯ ПОВЕСИТЬ СОБЫТИЯ

}*/



table, th, td {
  border: 1px solid #fff;

}

 table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f3f2f2;

    text-align: center;
    align:center;

    font-size: 14px;

    border:  2px solid #ccc;
    border-top: none;


    margin-bottom: 46px;
  }

  th{
background-color: #fff;

  }

 th, td {
 height: 30px;
  
}


td:hover {
background-color: #da491c;

}


.aside__links{

  width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;

  font-size: 13px;

  


}


.aside__links a{

  font-weight: bold;

padding: 9px 14px;


color: #fff;
background-color: rgb( 51, 51, 51 );
border-radius: 3px;

margin-left: 2px;
margin-bottom: 3px;
}

.aside__links a:hover {
background-color: #da491c;

}




.footer {

height: 350px;
background-color: rgb( 51, 51, 51 );

}

.footer__inner{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;

  padding-top: 80px;
padding-bottom: 35px;


}

.footer__links-and-email{
width: 825px;

 font-family: "Lato", sans-serif;
}


.footer__lae__links{
  width: 100%;
margin-bottom: 25px;
height: 40px;

 overflow-y: hidden;

}

.footer__lae__links a{

  color: white;
margin-right: 25px;
font-size: 13px; 
  text-transform: uppercase;


white-space: nowrap;

 font-family: "Lato", sans-serif;

}

.footer__lae__links a:last-child{

margin-right: 0;

}



.email{ 

   font-family: "Lato", sans-serif;

  font-size: 60px;
  color: white;
    line-height: 0.5;

background-color: transparent;
height: 63px;
 max-width: 770px;  /*для АВ*/
 width:100%; /*для АВ*/
 border:none;
border-bottom: 2px solid #929292;
padding-bottom: 20px;
margin-bottom: 10px;



}

.email::-webkit-input-placeholder{

padding-left: 0;
left: -10px;
color: rgb( 76, 75, 75 );
    line-height: 0.5;

     font-family: "Lato", sans-serif;
     font-weight: 300;
}

.email::-moz-placeholder{

padding-left: 0;
left: -10px;
color: rgb( 76, 75, 75 );
    line-height: 0.5;

     font-family: "Lato", sans-serif;
     font-weight: 300;
}

.email:-ms-input-placeholder{

padding-left: 0;
left: -10px;
color: rgb( 76, 75, 75 );
    line-height: 0.5;

     font-family: "Lato", sans-serif;
     font-weight: 300;
}

.email::-ms-input-placeholder{

padding-left: 0;
left: -10px;
color: rgb( 76, 75, 75 );
    line-height: 0.5;

     font-family: "Lato", sans-serif;
     font-weight: 300;
}

.email::placeholder{

padding-left: 0;
left: -10px;
color: rgb( 76, 75, 75 );
    line-height: 0.5;

     font-family: "Lato", sans-serif;
     font-weight: 300;
}
.footer__lae__email{

  margin-bottom: 50px;
}
.footer__lae__email p{

font-family: "Lato", sans-serif;
font-size: 16px;
font-weight: 300;
color: #929292;


}

.copyright{


font-family: "Lato", sans-serif;
font-size: 16px;
color: rgb( 76, 75, 75 );

}


.footer__about-us {
  width: 263px;

 

}

h3{ font-family: Raleway;     
  color: #fff;
font-size: 26px;
font-weight: bold;
line-height: 36px;
}

.footer__about-us p {
font-family: "Lato", sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 19px;

}

.footer__about-us ul{

display: -webkit-box;

display: -ms-flexbox;

display: flex;
list-style-type:none;
}

.footer__about-us li{

margin-right: 9px;
height: 24px;
width: 24px;

}



.footer__about-us a{
  display: inline-block;
height: 100%;
width: 100%;
background-color:  #999;
border-radius:12px;

position: relative;

}

.footer__about-us i{

font-size: 12px;

color:  rgb( 51, 51, 51 ); 
/*line-height: 24px;*/
position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%; 
  left: 50%;



}

.footer__about-us a:hover{
background-color: #da491c;


}


@media (max-width: 1200px) {

.footer__links-and-email{
width: 70%;


}

   .email{
width: 70%;
   }

   .article__item p{
width: 90%;  
   }

.header__title{ 
  height: 250px;
}


h1 {
  font-size: 80px;
}

.aside__categories__item{
font-size: 14px;
}

.aside__cat-cont__item p{


  -webkit-line-clamp: 3;

}



}


@media (max-width: 1000px) {

.article__item{

/*min-width: 365px;*/
 padding-top: 5px;

}

.article__item h2{

padding-right: 30px;

}

.article__item p{

max-height: 80px;
}


.article__media{
  
min-width: 200px;
height: 160px;

}

.aside__categories__item{
font-size: 12px;
}


.footer__inner{

padding-top: 60px;

}

}

@media (max-width: 850px) {
 
.container {

 padding: 0 25px;
}


.header__title{ 
  height: 200px;
}


h1 {
  font-size: 60px;
}

 h2 {
font-size: 20px;
    }


.article {
  
 margin-bottom: 20px; 
max-height:250px;

 overflow-y: hidden;
}



.aside__categories__item{
font-size: 12px;
}

.email{ 

  font-size: 45px;

}

  .aside__categories{
   
    -ms-flex-wrap: wrap;
   
        flex-wrap: wrap;
height: auto;
/*line-height: 42px;*/
  }

.aside__categories__item{
font-size: 15px;
}

 table {
    font-size: 12px;

  }

.aside-img{
float: none;

width: 80%;
padding-top: 80%;  /*квадратная картинка*/

margin-left: auto;
margin-right: auto;
margin-bottom: 5px;

position: relative;
 
}

.aside-img img{

/*object-fit: cover;*/
position: absolute;
top: 0; 
}

.aside__cat-cont__item p{
  font-size: 17px;}

.aside__cat-cont__item a{
width: 100%;
height: 40px;

font-size: 18px;
padding-top:1ex;  /* - ед.изм. высота шрифта*/


}


}

@media (max-width: 800px) {

 h2 {
font-size: 16px;
    }

.article__item {

    font-size: 12px;
  
}

.aside__links {
    
    font-size: 11px;
}


.aside__categories__item {
    font-size: 12px;
}

}

@media (max-width: 700px) {

.section__inner{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: start;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;

margin: 80px 14px 144px 14px;

}

.articles__pagination{
margin-bottom: 20px;

}


.aside{


  display: -webkit-box;


  display: -ms-flexbox;


  display: flex;
width: 100%;
-ms-flex-wrap:  wrap;
    flex-wrap:  wrap;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;

}


.flex-1
{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;


width: 50%;
position: absolute;

top: 220px;
left: 50%;
 -webkit-transform: translateX( -50%);
         transform: translateX( -50%);

}
.aside__search p{
margin-right: 30px;
}

.flex-2
{
   -webkit-box-flex: 0;
       -ms-flex: 0 0 60%;
           flex: 0 0 60%;
-ms-flex-wrap:  nowrap;
    flex-wrap:  nowrap;
margin-left: auto;
margin-right: auto;

}
.flex-3
{
   -webkit-box-flex: 0;
       -ms-flex: 0 0 60%;
           flex: 0 0 60%;
   margin-left: auto;
margin-right: auto;

}


.flex-4{
-webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
        flex: 0 0 80%;
  -ms-flex-wrap:   nowrap;
      flex-wrap:   nowrap;

margin-left: auto;
margin-right: auto;

}

.flex-5{
/*width: 80%;*/
display: -webkit-box;
display: -ms-flexbox;
display: flex;

-webkit-box-pack: justify;

    -ms-flex-pack: justify;

        justify-content: space-between;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;

 -ms-flex-wrap:    wrap;

     flex-wrap:    wrap;




}

.aside__cat-cont__item { /*  дети .flex-5*/
  margin-right: 10px;
  margin-left: 10px;
min-width:  130px;  /*    !!! меньше данного размера не ссузит!!!,
 а перенесёт на след строку*/ 
  -webkit-box-flex: 0; 
      -ms-flex: 0 0 20%; 
          flex: 0 0 20%;
}

.aside__calender{
 width: 100%;

}

.article__item h2{
margin-bottom: 10px;

}

.article__item__about {
    margin-bottom: 10px;
}

h3{

  font-size: 20px;
}

.footer__about-us p{

  font-size: 12px;
}
.aside__categories__item{

  font-size: 16px;
}

.footer__about-us {
    margin-left: 20px;
}
.aside__cat-cont__item a{

font-size: 12px;
padding-top:2ex;  /* - ед.изм. высота шрифта*/

}

.email{ 
  font-size: 25px;
height: 40px;
}


}

@media (max-width: 600px) {


.article__item {
    
    padding-left: 5px;
    padding-right: 5px;
}
.article__item p {
    width: 100%;
}


.article{

 height: 200px;

}

.footer__lae__email {
    margin-bottom: 25px;
}

h1 {
    font-size: 50px;
}

.aside__cat-cont__item p {
    font-size: 12px;
}


.flex-2
{
   -webkit-box-flex: 0;
       -ms-flex: 0 0 60%;
           flex: 0 0 60%;
-ms-flex-wrap:  wrap;
    flex-wrap:  wrap;
margin-left: auto;
margin-right: auto;

}




}